.about-container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 3rem;
    align-items: start;
}

.about-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-container p {
    text-align: justify;
    line-height: 1.8;
}

.skills ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skills li {
    background-color: var(--color-text-hover);
    border-radius: 20px;
    text-align: center;
    color: var(--color-text-altern);
    padding: 0.5rem 1rem;
}

@media (max-width: 480px) {

    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

}